<div class="container d-flex">

        <div class="main card align-items-center justify-content-center col-md-4 offset-md-4 mt-3">
            <div class="card-title mt-3 mb-0">
                <h2>Ticket Booking Status</h2>
            </div>
            <hr class="mt-0">
            <div class="col-md-4 mt-5">
                <div class="row">
                    <i class="qr icofont icofont-qr-code"></i>
                </div>
            </div>

            <br>
            <div>
                <h2 class="text-success">Your Payment was successful.</h2>
                <h3 class="text-muted">Upon pickup, Scan your QR-CODE into the vending machine.</h3>
            </div>

            <div class="align-items-center justify-content-center mt-3 mb-2">
                <button class="btn btn-info rounded-pill" routerLink="/"><i class="icofont-reply"></i> Back To Home</button>
            </div>
        </div>

        

</div>
